node_modules/
dist/
build/
*.db
*.db-journal
.env
.env.local
.env.*.local
.env.production
coverage/
READMEself.md
package-lock.json
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo
.turbo
.cache
